@using System.Collections.ObjectModel
@using SR.Entities.BaseEntities.CanchaEntities
@model ObservableCollection<Cancha>
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewData["Titulo"] = "Ingresos";
    var selectedSize = ViewData["PageSize"] != null ? (int)ViewData["PageSize"] : 5;
}
<div id="resumenTotales" class="mb-3" style="display:none;">
    <div class="row" >
        <div class="col-md-3 mb-3 mx-2 info-reporte">
            <i class="bi bi-bar-chart-line text-primary fs-2"></i>
            <span id="montoTotal" class="heading-05-semibold">S/ 0.00</span>
            <p class="body-02-regular">Rentabilidad</p>
        </div>
        <div class="col-md-3 mb-3 mx-2 info-reporte">
            <i class="bi bi-people text-primary fs-2"></i>
            <span id="totalReservas" class="heading-05-semibold">0</span>
            <p class="body-02-regular">Reservaciones</p>
        </div>   
        <div class="col-md-3 mb-3 mx-2 info-reporte">
            <i class="bi bi-x-circle text-primary fs-2"></i>
            <span id="totalAnulados" class="heading-05-semibold">0</span>
            <p class="body-02-regular">Anulados</p>
        </div>
    </div>  
</div>
<div class="container py-4 table-background-white">
    <div class="row pb-3">
        <div class="col-md-2 mb-2">
            <label class="form-label caption-regular">Fecha Inicio</label>
            <input type="date" id="fechaInicio" class="body-01-regular fecha-date form-control">
        </div>
        <div class="col-12 col-md-2 mb-2">
            <label class="form-label caption-regular">Fecha Fin</label>
            <input type="date" id="fechaFin" class="body-01-regular fecha-date form-control">
        </div>
        <div class="col-12 col-md-5 mb-2 align-self-end">
            <button id="btnFiltrar" class="body-01-semibold btn-primary-01">Filtrar</button>
        </div> 
        <div class="col-12 col-md-1 mb-2 align-self-end">
            <button class="btnTipo tab-reporte  text-color-reporte" data-tipo="reservas">Reservas</button>          
        </div>
        <div class="col-12 col-md-1 mb-2 align-self-end">
            <button class="btnTipo tab-reporte  text-color-reporte" data-tipo="canchas">Canchas</button>
        </div>        
    </div> 

    <div id="tablaIngresos"></div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        let tipoVista = 'reservas';
        function cargarTotales() {
            const inicio = $('#fechaInicio').val();
            const fin = $('#fechaFin').val();
            if (tipoVista === 'reservas') {
                $.get(`/Ingreso/ObtenerTotalesReservas?fechaInicio=${inicio}&fechaFin=${fin}`, function (data) {
                    $('#totalReservas').text(data.cantidadReservas);
                    $('#montoTotal').text(`S/ ${parseFloat(data.montoTotal).toFixed(2)}`);
                    $('#totalAnulados').text(data.cantidadAnulados);
                    $('#resumenTotales').show(); 
                });
            } else if (tipoVista === 'canchas') {
                $.get(`/Ingreso/ObtenerTotalesCanchas?fechaInicio=${inicio}&fechaFin=${fin}`, function (data) {
                    $('#totalReservas').text(data.cantidadReservas);
                    $('#montoTotal').text(`S/ ${parseFloat(data.montoTotal).toFixed(2)}`);
                    $('#totalAnulados').text('-'); 
                    $('#resumenTotales').show(); 
                });
            }
        }

        function cargarIngresos() {

            const inicio = $('#fechaInicio').val();
            const fin = $('#fechaFin').val();

            let url = tipoVista === 'reservas'
                        ? `/Ingreso/IngresoReservas?fechaInicio=${inicio}&fechaFin=${fin}`
                        : `/Ingreso/IngresoCanchas?fechaInicio=${inicio}&fechaFin=${fin}`;


            $.get(url, function (html) {
                $('#tablaIngresos').html(html);          
                    cargarTotales();         
            });
        }

        $('#btnFiltrar').on('click', function () {
            cargarIngresos();
        });

        $('.btnTipo').on('click', function () {
            tipoVista = $(this).data('tipo');
            cargarIngresos();
        });
        $(document).ready(function () {
             const localToday  = new Date();
            const yyyy = localToday.getFullYear();
            const mm = String(localToday.getMonth() + 1).padStart(2, '0');
            const dd = String(localToday.getDate()).padStart(2, '0');
            const today = `${yyyy}-${mm}-${dd}`;
            $('#fechaInicio').val(today);
            $('#fechaFin').val(today);

            cargarIngresos();

            $('#btnFiltrar').on('click', function() {
                cargarIngresos();
            });

            $('.btnTipo').on('click', function() {
                tipoVista = $(this).data('tipo');
                cargarIngresos();
            });
        });
 
    </script>
}

