@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Login";
}

<div class="d-flex justify-content-center align-items-center login-container">
    <div class="bg-white p-4 rounded-4 shadow login-box">
        <div class="text-center mb-3">
            <img src="/images/relampago.jpg" alt="el relampago" class="img-fluid logo-img"  />
            <h4 class="mt-2 mb-0 fw-bold">EL RELÁMPAGO</h4>
        </div>
        <h4 class="text-center">Iniciar Sesión</h4>

        <!-- Mostrar el mensaje de error si las credenciales son incorrectas -->
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">
                @ViewBag.Error
            </div>
        }

        <form method="post" action="/Login/Login" class="gap-3">
            <div class="form-group mb-3">
                <label for="gmail" class="caption-regular">Correo</label>
                <input type="email" id="gmail" name="gmail" class="form-control rounded-3 body-01-regular py-2" required placeholder="Ingrese su correo electrónico" />
                <label for="contrasenia" class="caption-regular">Contraseña</label>
                <input type="password" id="contrasenia" name="contrasenia" class="form-control body-01-regular py-2" required placeholder="Ingrese su contraseña" />
            </div>    
            <div class="d-grid pb-8">
                <button type="submit" class="body-01-semibold btn-primary-01">Ingresar</button>
            </div>
            
        </form>
    </div>
</div>





