@model SR.Entities.ViewModels.LoginViewModel
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Login";
}


<div class="d-flex justify-content-center align-items-center login-container">
    <div class="bg-white p-4 rounded-4 shadow login-box">
        <div class="text-center mb-3">
            <img src="/images/relampago.jpg" alt="el relampago" class="img-fluid logo-img"  />
            <h4 class="mt-2 mb-0 fw-bold">EL RELÁMPAGO</h4>
        </div>
        <h4 class="text-center">Iniciar Sesión</h4>

        <form method="post" asp-action="Login" asp-controller="Login" novalidate class="gap-3">
            @if (!ViewData.ModelState.IsValid)
            {
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            }
            <div class="form-group mb-3">
                <label asp-for="correo" class="caption-regular">Correo</label>
                <input asp-for="correo" type="email" name="correo" class="form-control rounded-3 body-01-regular py-2" placeholder="Ingrese su correo electrónico" />
                <span asp-validation-for="correo" class="text-danger d-block"></span>
                <label asp-for="contrasenia" class="caption-regular">Contraseña</label>
                <input asp-for="contrasenia" type="password" name="contrasenia" class="form-control body-01-regular py-2" placeholder="Ingrese su contraseña" />
                <span asp-validation-for="contrasenia" class="text-danger d-block"></span>
            </div>    
            <div class="d-grid pb-8">
                <button type="submit" class="body-01-semibold btn-primary-01">Ingresar</button>
            </div>
            
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



