USE [DB_RESERVAS]
GO
/****** Object:  StoredProcedure [dbo].[SP_CANCHA_INSERT_UPDATE]    Script Date: 22/06/2025 14:39:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[SP_METODO_PAGO_INSERT_UPDATE]
@ID			 INT			= NULL,
@NOMBRE		 NVARCHAR(50)   = NULL,
@USUARIO	 INT			= NULL
AS
BEGIN
	
	IF @ID IS NOT NULL AND EXISTS (
		SELECT 1 FROM METODO_PAGO
		WHERE ID=@ID
	)
	BEGIN
		UPDATE METODO_PAGO
		SET NOMBRE=@NOMBRE,		
		USUARIO_MODIFICA=@USUARIO,
		FECHA_MODIFICA=GETDATE()	
		WHERE ID=@ID
	END
	ELSE
	BEGIN
		INSERT INTO METODO_PAGO (NOMBRE,USUARIO_CREA,FECHA_CREA)
						  VALUES(@NOMBRE,@USUARIO,GETDATE())
	END
END
GO
CREATE OR ALTER   PROCEDURE [dbo].[SP_METODO_PAGO_SELECT_BUSCARPOR_ID]
@ID			 INT			= NULL
AS
BEGIN
	SELECT 
	ID
	,NOMBRE
	FROM METODO_PAGO
WHERE ID=@ID	
END
GO
CREATE OR ALTER   PROCEDURE [dbo].[SP_METODO_PAGO_SELECT_LISTA_CANCHAS]
@PAGE		INT			  = NULL,
@PAGESIZE	INT			  = NULL,
@BUSCAR		NVARCHAR(20) = NULL
AS BEGIN
 
 DECLARE @OFFSET INT =(@PAGE -1) * @PAGESIZE;
 SELECT 
 ID,
 NOMBRE,
 TOTAL =COUNT(*) OVER()
 FROM METODO_PAGO
 WHERE (@BUSCAR IS NULL OR NOMBRE LIKE '%' + @BUSCAR + '%')
 ORDER BY ID
 OFFSET @OFFSET ROWS
 FETCH NEXT @PAGESIZE ROWS ONLY;  

END
GO
CREATE OR ALTER   PROCEDURE [dbo].[SP_METODO_PAGO_SELECT_BUSCARPOR_NOMBRE]
@NOMBRE		 NVARCHAR(20) = NULL,
@ID			 INT		  = NULL
AS
BEGIN
 DECLARE @RESULTADO BIT =0
 IF EXISTS(	SELECT NOMBRE FROM METODO_PAGO 
			WHERE NOMBRE=@NOMBRE AND (@ID IS NULL OR ID != @ID)
 )
 BEGIN
	SET   @RESULTADO =1
 END

 SELECT  @RESULTADO AS RESULTADO

END
GO
CREATE OR ALTER   PROCEDURE [dbo].[SP_METODO_PAGO_DELETE_POR_ID]
@ID INT =NULL 
AS
BEGIN

DELETE FROM METODO_PAGO
WHERE ID=@ID
END
