@model mvc.Entities.BaseEntities.UsuarioEntities.Usuario

<div class="d-flex align-items-center p-3  rounded mb-3">
    <i class="bi bi-person-circle text-primary fs-3 me-2"></i>
    <div>
        <div class="body-regular-01-texto">@Model.Nombre</div>
    </div>
</div>
